.rating-order-wrp {
    .d-flex {
        display: flex;
    }
    .align-items-center {
        align-items: center;
    }
    .w-50 {
        width: 50%;
    }
    .rating-list {
        border-top: 1px solid #ddd;
        padding: 15px 0;
    }
}


/**Rating**/

::ng-deep label.star {
    padding: 0 5px !important;
    font-size: 20px !important;
    color: #ddd !important;
    &::before {
        content: "\f005" !important;
    }
    &:hover {
        transform: rotate(0deg) scale(1.2) !important;
    }
}