<div class="rating-order-wrp">
    <h2>Product Rating</h2>
    <div class="d-flex rating-list align-items-center">
        <p class="w-50">Overall Rating</p>
        <div class="star w-50 rating-star">
            <ngx-star-rating [id]="'rating1'"></ngx-star-rating>
        </div>
    </div>
    <!--rating-list-->

    <div class="d-flex rating-list align-items-center">
        <p class="w-50">Value for Money</p>
        <div class="star w-50 rating-star">
            <ngx-star-rating [id]="'rating2'"></ngx-star-rating>
        </div>
    </div>
    <!--rating-list-->

    <div class="d-flex rating-list align-items-center">
        <p class="w-50">Ease of Placing Order</p>
        <div class="star w-50 rating-star">
            <ngx-star-rating [id]="'rating3'"></ngx-star-rating>
        </div>
    </div>
    <!--rating-list-->


</div>